/* здесь используйте глобальные переменные */

// fonts
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// colors
$color-base-text: #444444;
$bg-basic-green: #68b738;

// viewports
$mobile-width-only: 767px;
$tablet-width-only: 1439px;
$tablet-width: 768px;
$desktop-width: 1440px;
