@use "../common/fonts.scss" ;
@use "../common/variables.scss" ;

.about-product {
  margin-top: 20px;


  @media (min-width: $tablet-width) {
    margin-top: 45px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    border-bottom: none;
  }
}

.about-product__title {
  font-family: $additional-font;
  font-weight: $font-weight;
  font-size: 36px;
  line-height: 40px;
  color: $optional-color;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.about-product__list {
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 135px 135px;
    width: 708px;
    counter-reset: number 0;
    margin-bottom: 94px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 77px;
  }
}

.about-product__item {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;

  &::before {
    content: "";
    display: block;
    background-color: $bg-color-green;
    width: 60px;
    height: 60px;
  }

  &--leaf::before {
    content: "";
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../icons/stack.svg#leaf-icon");

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--water::before {
    content: "";
    background-image: url("../../icons/stack.svg#powder-icon");
    background-size: 26px 29px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--cutlery::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-size: 25px 28px;
    background-image: url("../../icons/stack.svg#eat-icon");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--time::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-size: 25px 28px;
    background-image: url("../../icons/stack.svg#time-icon");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    display: block;
    counter-increment: number;


    &::after {
      content: counter(number);
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      position: absolute;
      font-family: $additional-font;
      font-weight: $font-weight;
      z-index: -1;
      top: -42px;
      right: 0;
      display: block;
      width: 136px;
    }
  }
}

.about-product__description {
  font-family: $primary-font;
  font-weight: $font-weight;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  width: 200px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-top: 31px;
    font-size: 16px;
    line-height: 24px;
    width: 245px;
  }
}
