@use "../common/fonts.scss" ;
@use "../common/variables.scss" ;


.banner__wrapper {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 100%, #ffffff 0%), url("../../images/catalog-images/catalog-desktop/catalog-background-desktop@2x.jpg");
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: contain;
  margin-top: 35px;
  min-height: 290px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    background-position: 60%;
    background-size: cover;
  }
}

.banner__title {
  position: relative;
  font-family: $primary-font;
  font-weight: $font-weight;
  color: #ffffff;
  text-align: center;
  width: 161px;
  min-height: 60px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 81px;
    background-color: #ffffff;
    mask-image: url("../../icons/stack.svg#gift-icon");
    mask-repeat: no-repeat;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
