.catalog-header {
  background-color: #ffffff;
  background-image: none;

  @media (max-width: $mobile-width-only) {
    border-bottom: 2px solid #ebebeb;
  }

  @media (min-width: $desktop-width) {
    min-height: auto;
  }
}
