@use "../common/fonts.scss" ;
@use "../common/variables.scss" ;

.contact__wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.contact__title {
  font-family: $additional-font;
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: $text-transform;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 61px 70px;
  }
}

.contact__address {
  font-family: $primary-font;
  font-weight: $font-weight;
  font-size: 14px;
  line-height: 20px;
  color: $base-color-text;
  font-style: normal;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding: 61px 70px;
  }
}
