.feature-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding: 0;
  }
}

.feature {
  position: relative;
  padding: 30px 20px 24px;
  background-color: #f2f2f2;

  &::before {
    position: absolute;
    top: 25px;
    left: 20px;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $bg-basic-green;
    border-radius: 100%;
  }

  &--slim-icon::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 27px;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-slim");
  }

  &--pro-icon::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 10px;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#cat-pro");
  }

  @media (min-width: $tablet-width) {
    padding: 80px 316px 60px 55px;

    &::before {
      top: 52%;
      left: 445;
      width: 200px;
      height: 200px;
      transform: translateY(-50%);
    }

    &--slim-icon::after {
      top: 80;
      left: 475;
      width: 140px;
      height: 194px;
    }

    &--pro-icon::after {
      top: 92;
      left: 410;
      width: 268px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 77px 43px 65px 52px;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;

    &:nth-child(even) {
      grid-column: 3/-1;
    }

    &::before {
      top: 46;
      left: 52;
      width: 100px;
      height: 100px;
      transform: translateY(0);
    }

    &--slim-icon::after {
      top: 42;
      left: 67;
      width: 70px;
      height: 97px;
    }

    &--pro-icon::after {
      top: 45;
      left: 33;
      width: 134px;
      height: 100px;
    }
  }
}

.feature__title {
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.feature__description {
  margin: 0;
  margin-bottom: 17px;
  padding-right: 13px;
  padding-bottom: 23px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding-right: 0;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.feature__link {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    margin-left: 15px;
    width: 24px;
    height: 12px;
    background-image: url("../../icons/icon_arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.1s linear;

    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: auto;
    width: 154px;
    font-size: 20px;
  }
}
