@use "../common/fonts.scss" ;
@use "../common/variables.scss" ;

.site-list {
  list-style-type: none;
  font-family: $additional-font;
  line-height: 20px;
  font-size: 20px;
  text-transform: $text-transform;
  display: block;
  padding: 0;

  &--change {
    margin-top: 14px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    font-size: 18px;
    line-height: 24px;
    margin-left: 94px;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: auto;
  }
}

.site-list__item {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: 1px solid #e6e6e6;
  text-align: center;

  &--active {
    display: block;

    @media (min-width: $tablet-width) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: $bg-color-green;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        background-color: $bg-color-green;
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    border: none;
    padding: 0;
  }
}

.site-list__item a {
  position: relative;
  display: block;
  text-decoration: none;
  color: $optional-color;

  &:hover {
    color: #000000;
    opacity: 0.6;
  }

  &:active {
    color: #000000;
    opacity: 0.3;
  }
}
