@use "../common/fonts.scss" ;
@use "../common/variables.scss" ;

.subscribe {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
  }
}

.subscribe__title {
  font-family: $additional-font;
  font-weight: $font-weight;
  font-size: 24px;
  line-height: 24px;
  color: $optional-color;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
  }
}

.subscribe__description {
  font-family: $additional-font;
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 24px;
  color: $optional-color;
  margin-bottom: 24px;


  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
}

.subscribe__form {
  @media (min-width: $tablet-width) {
    display: flex;
    max-height: 56px;
  }
}

.subscribe__field {
  font-size: 20px;
  line-height: 30px;
  font-family: $additional-font;
  padding: 13px;
  color: #444444;
  border: 1px solid #cdcdcd;
  margin-bottom: 16px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 376px;
    max-height: 56px;
    margin-bottom: 0;
  }
}
