
.wrapper {
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-left: 0;
    padding-right: 0;
  }
}
